<!-- <video id="localView" #localView autoplay style="width: 300px; display: inline-block;"></video> -->
<video id="remoteView" #remoteView autoplay></video>

@if(isUploading){
<div class="spinner-container">
  <span class="spinner"></span>
  <span style="margin-left: 8px;">音檔上傳中...</span>
</div>
}


<div>
  @if(mode == 'init'){
  <button (click)="onclickMaster()">Start Master</button>
  }

  @if(mode == 'init'){
  <button (click)="onclickViewer()">Start Viewer</button>
  }

  @if(mode == 'master'){
  @if(isRecording){
  <button (click)="stopRecording()">Stop Recording</button>
  } @else {
  <button (click)="startRecording()">Start Recording</button>
  }
  }
</div>
@if(isUploading){
<div class="upload-mask">
  <div class="spinner-container">
    <span class="spinner"></span>
    <span style="margin-left: 8px;">uploading...</span>
  </div>
</div>
}
